In [12]:
import pandas as pd
import sqlite3
import sqlalchemy as sql
import matplotlib as plt


%matplotlib inline

#### Creating sqlite database
    follow directions from [here](http://stat-computing.org/dataexpo/2009/sqlite.html) for sqlite database setup

In [16]:
db = sql.create_engine('sqlite:///flights.sqlite3', echo=True)     #relative directory (in same folder as this notebook so no directory)
connection = db.connect()
flights = sql.Table('ontime', sql.MetaData(), autoload=True, autoload_with=db)

2019-11-24 20:16:10,385 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2019-11-24 20:16:10,388 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-11-24 20:16:10,393 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

2019-11-24 20:16:10,399 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-11-24 20:16:10,411 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("ontime")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("ontime")

2019-11-24 20:16:10,414 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-11-24 20:16:10,428 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ontime' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ontime' AND type = 'table'

2019-11-24 20:16:10,429 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-11-24 20:16:10,432 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("ontime")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("ontime")

2019-11-24 20:16:10,442 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-11-24 20:16:10,445 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ontime' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ontime' AND type = 'table'

2019-11-24 20:16:10,448 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-11-24 20:16:10,457 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("ontime")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("ontime")

2019-11-24 20:16:10,461 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-11-24 20:16:10,463 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("dest")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_info("dest")

2019-11-24 20:16:10,472 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-11-24 20:16:10,478 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("origin")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_info("origin")

2019-11-24 20:16:10,480 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-11-24 20:16:10,482 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("date")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_info("date")

2019-11-24 20:16:10,489 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-11-24 20:16:10,493 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("year")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_info("year")

2019-11-24 20:16:10,495 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-11-24 20:16:10,500 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("ontime")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("ontime")

2019-11-24 20:16:10,507 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-11-24 20:16:10,509 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("dest")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_info("dest")

2019-11-24 20:16:10,511 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-11-24 20:16:10,517 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("origin")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_info("origin")

2019-11-24 20:16:10,522 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-11-24 20:16:10,525 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("date")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_info("date")

2019-11-24 20:16:10,528 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-11-24 20:16:10,530 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("year")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_info("year")

2019-11-24 20:16:10,531 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-11-24 20:16:10,533 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ontime' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ontime' AND type = 'table'

2019-11-24 20:16:10,537 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [17]:
flights.columns.keys()

['Year',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'DepTime',
 'CRSDepTime',
 'ArrTime',
 'CRSArrTime',
 'UniqueCarrier',
 'FlightNum',
 'TailNum',
 'ActualElapsedTime',
 'CRSElapsedTime',
 'AirTime',
 'ArrDelay',
 'DepDelay',
 'Origin',
 'Dest',
 'Distance',
 'TaxiIn',
 'TaxiOut',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay']