In [1]:
import pandas as pd
import sqlite3
import sqlalchemy as db
from sqlalchemy.orm import sessionmaker
import matplotlib as plt


%matplotlib inline

#### Creating sqlite database
    follow directions from [here](http://stat-computing.org/dataexpo/2009/sqlite.html) for sqlite database setup

In [2]:
engine = db.create_engine('sqlite:///flights.sqlite3', echo=True)     #relative directory (in same folder as this notebook so no directory)
connection = engine.connect()
flights = db.Table('ontime', db.MetaData(), autoload=True, autoload_with=engine)
Session = sessionmaker(bind=engine)

2019-11-24 21:38:07,290 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-11-24 21:38:07,291 INFO sqlalchemy.engine.base.Engine ()
2019-11-24 21:38:07,292 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-11-24 21:38:07,293 INFO sqlalchemy.engine.base.Engine ()
2019-11-24 21:38:07,297 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("ontime")
2019-11-24 21:38:07,299 INFO sqlalchemy.engine.base.Engine ()
2019-11-24 21:38:07,311 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ontime' AND type = 'table'
2019-11-24 21:38:07,314 INFO sqlalchemy.engine.base.Engine ()
2019-11-24 21:38:07,318 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("ontime")
2019-11-24 21:38:07,320 INFO sqlalchemy.engine.base.Engine ()
2019-11-24 21:38:07,325 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ontime' AND type = 'table'
2019-11-24 21:38:07,328 INFO sqlalchemy.engine.base.Engine ()
2019-11-24 21:38:07,331 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("ontime")
2019-11-24 21:38:07,333 INFO sqlalchemy.engine.base.Engine ()
2019-11-24 21:38:07,334 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("dest")
2019-11-24 21:38:07,336 INFO sqlalchemy.engine.base.Engine ()
2019-11-24 21:38:07,337 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("origin")
2019-11-24 21:38:07,338 INFO sqlalchemy.engine.base.Engine ()
2019-11-24 21:38:07,339 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("date")
2019-11-24 21:38:07,339 INFO sqlalchemy.engine.base.Engine ()
2019-11-24 21:38:07,343 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("year")
2019-11-24 21:38:07,345 INFO sqlalchemy.engine.base.Engine ()
2019-11-24 21:38:07,347 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("ontime")
2019-11-24 21:38:07,349 INFO sqlalchemy.engine.base.Engine ()
2019-11-24 21:38:07,351 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("dest")
2019-11-24 21:38:07,352 INFO sqlalchemy.engine.base.Engine ()
2019-11-24 21:38:07,354 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("origin")
2019-11-24 21:38:07,354 INFO sqlalchemy.engine.base.Engine ()
2019-11-24 21:38:07,355 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("date")
2019-11-24 21:38:07,358 INFO sqlalchemy.engine.base.Engine ()
2019-11-24 21:38:07,360 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("year")
2019-11-24 21:38:07,363 INFO sqlalchemy.engine.base.Engine ()
2019-11-24 21:38:07,364 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ontime' AND type = 'table'
2019-11-24 21:38:07,366 INFO sqlalchemy.engine.base.Engine ()

In [3]:
flights.columns.keys()

['Year',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'DepTime',
 'CRSDepTime',
 'ArrTime',
 'CRSArrTime',
 'UniqueCarrier',
 'FlightNum',
 'TailNum',
 'ActualElapsedTime',
 'CRSElapsedTime',
 'AirTime',
 'ArrDelay',
 'DepDelay',
 'Origin',
 'Dest',
 'Distance',
 'TaxiIn',
 'TaxiOut',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay']

In [4]:
session = Session()

In [9]:
s = db.select([flights]).\
        where(db.and_(
            flights.columns.Year.cast(db.Integer) == 2008,
            flights.columns.ArrDelay.cast(db.Integer) >= 15
        ))

In [26]:
x = engine.execute(s).fetchall()

2019-11-24 22:24:35,650 INFO sqlalchemy.engine.base.Engine SELECT ontime."Year", ontime."Month", ontime."DayofMonth", ontime."DayOfWeek", ontime."DepTime", ontime."CRSDepTime", ontime."ArrTime", ontime."CRSArrTime", ontime."UniqueCarrier", ontime."FlightNum", ontime."TailNum", ontime."ActualElapsedTime", ontime."CRSElapsedTime", ontime."AirTime", ontime."ArrDelay", ontime."DepDelay", ontime."Origin", ontime."Dest", ontime."Distance", ontime."TaxiIn", ontime."TaxiOut", ontime."Cancelled", ontime."CancellationCode", ontime."Diverted", ontime."CarrierDelay", ontime."WeatherDelay", ontime."NASDelay", ontime."SecurityDelay", ontime."LateAircraftDelay"
FROM ontime
WHERE CAST(ontime."Year" AS INTEGER) = ? AND CAST(ontime."ArrDelay" AS INTEGER) >= ?
2019-11-24 22:24:35,652 INFO sqlalchemy.engine.base.Engine (2008, 15)

In [27]:
len(x)

1524735